@import url('./assets/fonts/font.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Philosopher';
  color: black;
}

.hover_red_parent:hover .child {
  background-color: rgba(220, 76, 100);
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.hover_red:hover {

  color: rgba(220, 76, 100)!important;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.hover_redbg:hover {
  background-color: rgba(220, 76, 100)!important;
  color: white!important;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.red_parent:hover .red_child {
  color: white !important;
  transition: color 0.3s ease-in-out;
}

.white_parent:hover .white_child {

  color: rgb(255, 0, 0) !important;
  transition: color 0.5s ease-in-out;
}

.scale:hover{
  transform: scale(1.06);
  transition: transform 0.5s ease-in-out;
}
.scale:not(:hover){
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

/* fadeup anim */